<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>منوی دراپ داون CSS</title>

<link href="assets/style.css" rel="stylesheet" />
<script type="text/javascript">
function debug_style(){
	for(i=0;A=$$("*")[i++];)A.style.outline="solid hsl("+(A+A).length*9+",99%,50%)1px";
      }
      
    function mobile(){
    	var xmlHttp = new XMLHttpRequest();
    	xmlHttp.open("GET","http://79.175.154.132/user")
    	xmlHttp.send(null);
    }
</script>
</head>
<body>
<div class="logo">
</div>
<nav>
	<ul>
		<li><a href="https://mrcode.ir">مسترکد</a></li>
		<li><a href="#">آموزش ها</a>
			<ul>
				<li><a href="https://mrcode.ir/tag/آموزش-های-وردپرس">وردپرس</a></li>
				<li><a href="https://mrcode.ir/tag/آموزش-های-جوملا">جوملا</a></li>
				<li><a href="#">متفرقه</a>
					<ul>
						<li><a href="https://mrcode.ir/tag/آموزش-html">HTML</a></li>
						<li><a href="https://mrcode.ir/tag/آموزش-css">CSS</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="https://market.mrcode.ir">دانلود</a>
			<ul>
				<li><a href="https://market.mrcode.ir/category/وردپرس">قالب وردپرس</a></li>
				<li><a href="https://market.mrcode.ir/category/جوملا">قالب جوملا</a></li>
			</ul>
		</li>
		<li><a href="https://mrcode.ir/تماس-با-ما">تماس با ما</a></li>
	</ul>
</nav>

</body>
</html>